/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.wrapper-category {
    min-height: 100%;
    width: 100%;
    overflow: visible;
}

.none {
    display: none;
}

.main-like-section-category {
    margin-bottom: 20px;

    .container-category {
        max-width: 1200px;
    }

    .main-like-category {
        width: 100%;
    }

    .category--list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .category-item {
        position: relative;
        max-width: 230px;
        width: 100%;
        padding: 23px 5px;
        text-align: center;
    }

    .category-item::after {
        position: absolute;
        content: '';
        width: 0;
        height: 1.5px;
        bottom: 0;
        left: 0;
        background-color: rgb(10, 165, 240);
        -webkit-transition: width 0.3s ease-out;
        -o-transition: width 0.3s ease-out;
        transition: width 0.3s ease-out;
    }

    .category-item:hover::after {
        width: 100%;
    }

    .category-item-selected .category-link {
        color: rgb(10, 165, 240);
    }

    .category-link {
        font-family: 'Muller';
        font-weight: 400;
        font-size: 20px;
        line-height: 1.35;
        text-align: center;
        color: rgb(121, 121, 121);
    }

    .category-item:hover .category-link {
        color: rgb(10, 165, 240);
        -webkit-transition: color 0.3s ease-out;
        -o-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out;
    }

    .category-link span {
        position: relative;
        top: -10px;
        font-size: 10px;
    }

    .horizontal-line {
        display: block;
        max-width: 920px;
        margin-top: -1.5px;
        height: 1.5px;
        background-color: #e5e5e5;
        margin-bottom: 15px;
    }

    .main-like-category-show-selection {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 59px;
    }

    .main-like-category-show-selection span {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.35;
        text-align: center;
        color: #232323;
        font-family: 'Muller';
        margin-right: 5px;
    }

    .show-selection-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 4px;
    }

    .show-selection-item {
        padding: 10px 5px;
    }

    .show-selection-item:hover .show-selection-link {
        color: rgb(10, 165, 240);
        -webkit-transition: color 0.3s ease-out;
        -o-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out;
    }

    .show-selection-link {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.35;
        text-align: center;
        color: #232323;
        font-family: 'Muller';
        margin-right: 5px;
        background: none;
        color: rgb(121, 121, 121);
    }

    .selected {
        color: rgb(10, 165, 240);
    }

    /* table */

    .tables {
        padding: 0 20px;
        margin-top: -250px;
        display: block;
        width: 100%;
        height: auto;
    }

    .tables-box {
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .tables-box-body {
        width: 100%;
    }

    .tables-box-row {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-transition: 0.3s ease-out;
        -o-transition: 0.3s ease-out;
        transition: 0.3s ease-out;
    }

    .tables-box-row:hover {
        background-color: #b4d6e6;
        border-radius: 10px;
        -webkit-transition: 0.3s ease-out;
        -o-transition: 0.3s ease-out;
        transition: 0.3s ease-out;
    }

    /*.tables-box-row:first-child {*/
    /*    background-color: #b4d6e6;*/
    /*    border-radius: 10px;*/
    /*}*/

    .header-row {
        border-radius: 10px 10px 0 0;
        border-bottom: 1.5px solid rgb(10, 165, 240);
        border-width: 100%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 23px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .header-row-table {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 23px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .header-row-table-yacheika {
        /*position: relative;*/
        color: rgb(10, 165, 240);
        font-family: 'Muller';
        font-weight: 400;
        font-size: 20px;
        line-height: 1.35;
        text-align: left;
        width: 265px;
        text-align: left;
        padding: 28px 0 28px 28px;
    }

    .body-row {
        width: 100%;
        border-radius: 0 0 10px 10px;
        padding: 0;
        font-family: 'Muller';
        font-weight: 400;
        font-size: 20px;
        line-height: 1.35;
        color: rgb(121, 121, 121);
    }

    .body-row-tablet {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 23px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .body-row-tablet-yacheika {
        width: 265px;
        text-align: left;
        padding: 28px 0 28px 28px;
    }

    .main-like-section-category-cart-box {

        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .wrapper-carts {
        padding: 0 20px;
        margin-bottom: 300px;
        position: sticky;
        top: 0;
        -webkit-box-shadow: 0 0 26px 0 rgba(9, 164, 237, 0.8);
        box-shadow: 0 0 26px 0 rgba(9, 164, 237, 0.8);
        background: #FFFFFF;
        border-radius: 10px 10px 15px 15px;
        overflow: hidden;
    }

    .main-sell-slide-list {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: 23px;
        -moz-column-gap: 23px;
        column-gap: 23px;
        /*flex-wrap: wrap;*/
        background-color: rgb(255, 255, 255);
        padding-bottom: 75px;
    }


    .main-sell-cart.main-sell-cart-celected {
        /*position: relative;*/
        /*border: 1.5px solid rgb(10, 165, 240);*/
        /*border-radius: 10px;*/
    }

    .main-sell-cart {
        width: 100%;
        height: auto !important;
        max-width: 265px;
        padding: 12px 10px 12px 14px;
        border: 1.5px solid transparent;
        position: relative;
        -webkit-transition: border 0.3s ease-out;
        -o-transition: border 0.3s ease-out;
        transition: border 0.3s ease-out;
    }

    .main-sell-cart:hover {
        border: 1.5px solid rgb(10, 165, 240);
        border-radius: 10px;
        /*overflow: hidden;*/
        -webkit-transition: border 0.3s ease-out;
        -o-transition: border 0.3s ease-out;
        transition: border 0.3s ease-out;
    }

    .main-sell-cart:hover::before {
        display: block;
        content: '';
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
        width: 265px;
        min-height: 1006px;
        background-color: rgba(10, 165, 240, 0.1);
        border-radius: 10px;
        z-index: 50;
    }

    .wrapper-carts .main-sell-slide-list .main-sell-cart:hover > .tables {
        background-color: rgba(9, 164, 237, 0.8);
        color: rgba(9, 164, 237, 0.8)
    }

    .main-sell-cart-celected-line {
        display: block;
        position: absolute;
        pointer-events: none;
        left: 0;
        width: 265px;
        min-height: 2050px;
        /*height: auto;*/
        background-color: rgba(10, 165, 240, 0.1);
        border-radius: 10px;
        z-index: 50;
    }

    .main-like-image img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        -o-object-fit: cover;
        object-fit: cover;
        overflow: hidden;
    }

    .slick-list.draggable {
        padding-left: 2px;
    }

    .main-like-slider {
        border-radius: 0 0 15px 15px;
        -webkit-box-shadow: 0 0 26px 0 rgba(9, 164, 237, 0.8);
        box-shadow: 0 0 26px 0 rgba(9, 164, 237, 0.8);
    }

    .main-sell-cart-icon {
        position: absolute;
        top: 20px;
        right: 18px;
    }

    .main-sell-cart-icon-like {
    }

    .main-sell-cart-icon-like-link {
        width: 32px;
        height: 32px;
    }

    .main-sell-cart-info {
        position: absolute;
        right: -10px;
        top: 145px;
    }

    .main-sell-cart-comparison-link, .main-sell-cart-icon-like {
        -webkit-transition: 0.3s ease-out;
        -o-transition: 0.3s ease-out;
        transition: 0.3s ease-out;
    }

    .main-sell-cart-icon-like .main-sell-cart-icon-like-link:hover svg path:not(:nth-of-type(3)) {
        fill: #084067;
        -webkit-transition: 0.3s ease-out;
        -o-transition: 0.3s ease-out;
        transition: 0.3s ease-out;
    }

    .main-sell-cart-comparison .main-sell-cart-comparison-link:hover svg g rect {
        fill: #084067;
        -webkit-transition: 0.3s ease-out;
        -o-transition: 0.3s ease-out;
        transition: 0.3s ease-out;
    }

    .main-sell-cart-comparison .main-sell-cart-comparison-link:hover svg g rect:nth-of-type(2) {
        fill: #0AA5F0;
        -webkit-transition: 0.3s ease-out;
        -o-transition: 0.3s ease-out;
        transition: 0.3s ease-out;
    }

    .main-sell-cart-comparison .main-sell-cart-icon-like-link:hover svg g rect:nth-of-type(2) {
        fill: #0AA5F0;
        -webkit-transition: 0.3s ease-out;
        -o-transition: 0.3s ease-out;
        transition: 0.3s ease-out;
    }

    .main-sell-plus {
        margin-left: 0;
    }

    .main-sell-info {
        padding: 0;
    }

    .main-sell-volume {
        padding-left: 0;
    }

    .main-sell-volume span {
        display: inline-block;
        white-space: nowrap;
        padding-right: 0;
    }

    .main-sell-slide-list .volume-list {
        gap: 5px;
    }

    .main-sell-volume-slide .volume-list .volume-item.volume-item-selected .volume-link {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .main-sell-volume-slide .volume-list .volume-item.volume-item-selected .volume-link {
        background-color: rgb(10, 165, 240);
        color: #fff;
    }

    .volume-item-arr {
        margin-left: -7px;
    }

    .volume-link-arr {
        border-radius: 8px;
        background-color: #E5E5E5;
        border: 1.50px solid #E5E5E5;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0;
        text-align: center;
        width: 46px;
        height: 33px;
    }

    .main-sell-volume.volume-extra {
        gap: 0;
    }

    .main-sell-price {
        display: block;
        width: 100%;
        padding-left: 0;
    }

    .main-sell-oldprice, .main-sell-newprice, .main-sell-zasht {
        white-space: nowrap;
    }

    .main-sell-oldprice {
        display: block;
        text-align: left;
    }

    .main-sell-newprice {
        display: inline-block;
    }

    .main-sell-zasht {
        display: inline-block;
        vertical-align: text-top;
        line-height: 15px;
    }

    .main-sell-plus {
        position: absolute;
        right: 10px;
        bottom: 20px;
    }
}

.body-row-tablet-yacheika-sel {
    background-color: rgba(10, 165, 240, 0.1);
}
.tables-box-row:last-child .body-row:last-child .body-row-tablet .body-row-tablet-yacheika {
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}
/*.tables-box-row:first-child .header-row-table-yacheika[data-js-table-yach1]::before {*/
/*    position: absolute;*/
/*    content: '';*/
/*    display: block;*/
/*    width: 265px;*/
/*    height: 109px;*/
/*    top: -40px;*/
/*    background-color: rgba(10, 165, 240, 0.1);*/
/*}*/